<form id="write-us" class="modal modal-small form-horizontal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Написать письмо</h3>
	</div>
	<div class="modal-body">
		<div class="control-group">
			<label class="control-label" for="#">Ваше имя</label>
			<div class="controls">
				<input type="text" id="#" >
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="#">Эл. почта</label>
			<div class="controls">
				<input type="text" id="#" >
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="#">Текст письма</label>
			<div class="controls">
				<textarea rows="6"></textarea>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary">Отправить</button>
	</div>
</form>

<form id="call-back" class="modal modal-small form-horizontal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Заказать звонок</h3>
	</div>
	<div class="modal-body">
		<div class="centered">
			<div class="control-group">
				<label class="control-label" for="#">Ваше имя</label>
				<div class="controls">
					<input type="text" id="#" >
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="#">Телефон</label>
				<div class="controls">
					<input type="text" id="#" >
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary">Отправить</button>
	</div>
</form>
<form id="sign-in" class="modal modal-small form-horizontal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Записаться</h3>
	</div>
	<div class="modal-body">
		<div class="centered">
			<div class="control-group">
				<label class="control-label" for="#">Ваше имя</label>
				<div class="controls">
					<input type="text" id="#" >
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="#">E-mail</label>
				<div class="controls">
					<input type="text" id="#" >
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary">Записаться</button>
	</div>
</form>