<div class="pagination-box">
	<ul class="clearfix">
		<li class="prev-page"><a href="#" class="i-pag-prev"></a></li>
		<li class="active"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li class="next-page"><a href="#" class="i-pag-next"></a></li>
	</ul>
</div>