<div class="slider">
	<div id="carousel" class="flexslider slider-header">
		<ul class="slides">
			<li>
				<img src="/static/img/examples/thumb-1.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-2.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-3.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-4.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-5.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-6.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-1.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-2.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-3.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-4.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-5.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-6.jpg">
			</li>
		</ul>
	</div>
	<div id="slider" class="flexslider">
		<ul class="slides">
			<li class="slider-body">
				<img src="/static/img/examples/image-1.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-2.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-3.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-4.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-5.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-6.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-1.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-2.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-3.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-4.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-5.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-6.jpg" >
			</li>
		</ul>
	</div>
	
</div>