<div class="slider slider-wide">
	<div id="carousel" class="flexslider slider-header">
		<ul class="slides">
			<li>
				<img src="/static/img/examples/thumb-1.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-2.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-2.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-2.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-2.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-2.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-2.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-2.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-2.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-2.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-2.jpg">
			</li>
			<li>
				<img src="/static/img/examples/thumb-2.jpg">
			</li>
		</ul>
	</div>
	<div id="slider" class="flexslider">
		<ul class="slides">
			<li class="slider-body">
				<img src="/static/img/examples/image-1.jpg" >
				<div class="slider-content">
					<a href="#">Автоматизация<br> бизнеса</a>
				</div>
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-1.jpg" >
				<div class="slider-content">
					<a href="#">Автоматизация<br> бизнеса</a>
				</div>
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-1.jpg" >
				<div class="slider-content">
					<a href="#">Автоматизация<br> бизнеса</a>
				</div>
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-1.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-1.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-1.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-1.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-1.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-1.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-1.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-1.jpg" >
			</li>
			<li class="slider-body">
				<img src="/static/img/examples/image-1.jpg" >
			</li>
		</ul>
	</div>
	
</div>