// /*
//  * jQuery FlexSlider v2.0
//  * http://www.woothemes.com/flexslider/
//  *
//  * Copyright 2012 WooThemes
//  * Free to use under the GPLv2 license.
//  * http://www.gnu.org/licenses/gpl-2.0.html
//  *
//  * Contributing author: Tyler Smith (@mbmufffin)

// /* Browser Resets

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus
	outline: none

.slides, .flex-control-nav, .flex-direction-nav
	margin: 0
	padding: 0
	list-style: none

// /* FlexSlider Necessary Styles
//  *********************************

.flexslider
	margin: 0
	padding: 0
	.slides
		> li
			display: none
			-webkit-backface-visibility: hidden
		img
			width: 100%
			display: block

// /* Hide the slides before the JS is loaded. Avoids image jumping

.flex-pauseplay span
	text-transform: capitalize

//* Clearfix for the .slides element

.slides:after
	content: "."
	display: block
	clear: both
	visibility: hidden
	line-height: 0
	height: 0

html[xmlns] .slides
	display: block

* html .slides
	height: 1%

// /* No JavaScript Fallback
// /* If you are not using another script, such as Modernizr, make sure you
//  * include js that eliminates this class on page load

.no-js .slides > li:first-child
	display: block

///* FlexSlider Default Theme
// *********************************

.flexslider
	margin: 0 0 0px
	position: relative
	zoom: 1

.flex-viewport
	max-height: 2000px
	-webkit-transition: all 1s ease
	-moz-transition: all 1s ease
	transition: all 1s ease

.loading .flex-viewport
	max-height: 300px

.flexslider .slides
	zoom: 1

.carousel li
	margin-right: 5px

//* Direction Nav

.flex-direction-nav
	*height: 0
	a
		width: 30px
		height: 30px
		margin: -15px 0 0
		display: block
		background: url(../img/bg_direction_nav.png) no-repeat 0 0
		position: absolute
		top: 50%
		z-index: 10
		cursor: pointer
		text-indent: -9999px
		opacity: 0
		-webkit-transition: all .3s ease
	.flex-next
		background-position: 100% 0
		right: -36px
	.flex-prev
		left: -36px

.flexslider:hover
	.flex-next
		opacity: 0.8
		right: 5px
	.flex-prev
		opacity: 0.8
		left: 5px
	.flex-next:hover, .flex-prev:hover
		opacity: 1

.flex-direction-nav .flex-disabled
	opacity: .3!important
	filter: alpha(opacity = 30)
	cursor: default

//* Control Nav

.flex-control-nav
	width: 100%
	position: absolute
	bottom: -40px
	text-align: center
	li
		margin: 0 6px
		display: inline-block
		zoom: 1
		*display: inline

.flex-control-paging li a
	width: 11px
	height: 11px
	display: block
	background: #666
	background: rgba(0, 0, 0, 0.5)
	cursor: pointer
	text-indent: -9999px
	-webkit-border-radius: 20px
	-moz-border-radius: 20px
	-o-border-radius: 20px
	border-radius: 20px
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3)
	&:hover
		background: #333
		background: rgba(0, 0, 0, 0.7)
	&.flex-active
		background: #000
		background: rgba(0, 0, 0, 0.9)
		cursor: default

.flex-control-thumbs
	margin: 5px 0 0
	position: static
	overflow: hidden
	li
		width: 25%
		float: left
		margin: 0
	img
		width: 100%
		display: block
		opacity: .7
		cursor: pointer
		&:hover
			opacity: 1
	.flex-active
		opacity: 1
		cursor: default

@media screen and (max-width: 860px)
	.flex-direction-nav
		.flex-prev
			opacity: 1
			left: 0
		.flex-next
			opacity: 1
			right: 0
// custom
.slider
	margin-bottom: 13px
	height: 268px
	width: 733px
	overflow: hidden
	.slider-header
		li
			width: 147px
			img
				width: 135px
				height: 50px
				border: 6px solid #ced1d5
				&:hover
					border: 6px solid #74d1f5
		.active
			img
				border: 6px solid #74d1f5
	.slider-body
		position: relative
		height: 206px
		img
			height: 206px
			width: 100%
.slider-wide
	height: 312px
	width: 1005px
	.slider-header
		li
			width: 147px
			img
				width: 135px
	.slider-body
		height: 250px
		position: relative
		.slider-content
			background: rgba(88,89,121, 0.7)
			position: absolute
			left: 0
			bottom: 0
			padding: 10px 18px
			a
				color: #fff
				font-size: 20px
				line-height: 30px
		img
			height: 250px