.footer-contacts
	color: #818195
	font-size: 11px
	line-height: 18px
.footer-buttons
	a
		margin-bottom: 8px
		width: 128px
		&:hover
			.i-video
				+i-sprite(video_hover)
			.i-phone-blue
				+i-sprite(phone-blue_hover)
			.i-mail-blue
				+i-sprite(mail-blue_hover)
			.i-map-blue
				+i-sprite(map-blue_hover)
.sotial-buttons
	a
		margin-left: 5px
.zavod
	p
		font-size: 12px
		color: #747b8a
		margin-bottom: 0
		margin-right: 4px

			
