header
	padding-top: 22px
	position: relative
	.header-bg
		background: url(../img/site/header-bg.png) no-repeat
		height: 194px
		width: 424px
		position: absolute
		right: -54px
		top: 0px
		z-index: -1
		@media (max-width: 1023px)
			right: 0 !important
	.main-search
		position: relative
		a
			position: absolute
			right: 0px
			top: 26px
		input
			margin-top: 20px
			padding-right: 28px
			+box-sizing(border-box)
			width: 258px
			line-height: 22px
			height: 30px
	nav
		a
			padding: 22px 41px 22px 0px
			font-size: 20px
			text-decoration: none
			&:hover
				color: $light-blue
				text-decoration: underline
	.response-forms
		margin-top: 15px
		a
			&:hover
				color: $light-blue
				.i-video-header
					+i-sprite(video-header_hover)
				.i-phone-header
					+i-sprite(phone-header_hover)
				.i-mail-header
					+i-sprite(mail-header_hover)
