.pagination-box
	text-align: center
	border-top: 1px solid #d1d2d2
	border-bottom: 1px solid #d1d2d2
	margin-top: 35px
	padding: 9px 0 2px
	ul
		list-style: none
		display: inline-block
		text-align: center
		margin: 0
		li
			float: left
			a
				font-size: 14px
				padding: 6px 11.8px
				text-decoration: none
				&:hover
					text-decoration: underline
					color: $light-blue
		.active
			a
				font-size: 20px
				color: #272e3f
				cursor: default
				background: #fff
				+border-radius(3px)
				&:hover
					text-decoration: none
					color: #272e3f
		.prev-page
			margin-right: 19px
			margin-top: 6px
			a
				padding: 0
				margin: 8
		.next-page
			margin-left: 19px
			margin-top: 6px
			a
				padding: 0
				margin: 8
.selector-box
	a
		display: inline-block
		padding: 7px 9px
		font-size: 14px
		margin-right: 0px
	.active
		font-size: 20px
		color: #272e3f
		background: #fff
		cursor: default
		+border-radius(3px)
		text-decoration: none
		&:hover
			text-decoration: none