@import compass
@import sticky-footer
@import utilites
$main: #171742
$blue: #090972
$light-blue: #74d1f5
$gray: #d1d2d2
$white: #fefefe
$input: #f1f1f1
$input-focus: #d5d7da
@import header
@import flexslider
@import footer
@import pagination
//
// font-family: "Times New Roman", Times, serif
// font-family: "Tahoma", "Geneva", sans-serif
body
	color: $main
	background: url(../img/site/bg.png)
article
	padding-top: 10px	
a
	font-size: 12px
	color: $blue
	display: inline-block
	margin-right: 6px
	text-decoration: underline
	&:hover
		text-decoration: none
		color: $blue
	i
		display: inline-block
		vertical-align: middle
		margin-right: 3px
.ico-header
	color: #393942
	font-family: "Times New Roman", Times, serif
	i
		display: inline-block
		vertical-align: middle
		margin-right: 9px
.with-ico
	text-decoration: none
	i
		margin-right: 5px
	&:hover
		text-decoration: underline
.only-ico
	text-decoration: none
	&:hover
		text-decoration: none
.link-2-all
	margin-top: 7px
	padding-right: 0
.container
	min-width: 1005px
.date-spn
	color: #939598
	font-family: "Tahoma", "Geneva", sans-serif
	font-size: 11px
	padding-right: 7px
.from-slider
	img
		width: 460px
		height: 116px
		margin-bottom: 7px
	h2, h3
		color: $light-blue
h1, h2, h3, h4, h5, h6
	font-weight: normal
h1
	font-size: 30px
	line-height: 36px
h2
	font-size: 24px
	line-height: 28px
h3
	font-size: 22px
	line-height: 25px
h4
	font-size: 18px
	line-height: 22px
h5
	font-size: 16px
	line-height: 20px
h6
	font-size: 14px
	line-height: 14px
p
	font-size: 12px
big
	font-size: 16px
input, select, textarea
	border: 1px solid $input !important
	// border: 1px solid red !important
	color: #8e95a0
.social-buttons
	> .fb-like,
	> table,
	> iframe
		display: inline-block
		vertical-align: top
		margin: 0 7px 0 0
	#fb-root
		display: inline
.blue-box
	background: $light-blue
	+border-radius(4px)
	padding: 1px 18px
	margin-bottom: 17px
	h1
		color: #fff
		line-height: 30px
	.underline
		text-decoration: underline
	.span4
		width: 222px
	a
		color: #fff
		&:hover
			color: #fff
.white-box
	background: #f2f2f2
	+border-radius(4px)
	padding: 12px
.border-box
	border-bottom: 1px solid #ced1d5
	padding-bottom: 8px
	span
		color: #939598
		font-size: 11px
		display: inline-block
	a
		display: inline
	img
		margin-bottom: 7px
	.prepend
		width: 73px
		color: #393942
		font-size: 12px

.btn-primary
	background-color: hsl(195, 79%, 62%) !important
	background-repeat: repeat-x
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9addf3", endColorstr="#51c4ea")
	background-image: -khtml-gradient(linear, left top, left bottom, from(#9addf3), to(#51c4ea))
	background-image: -moz-linear-gradient(top, #9addf3, #51c4ea)
	background-image: -ms-linear-gradient(top, #9addf3, #51c4ea)
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9addf3), color-stop(100%, #51c4ea))
	background-image: -webkit-linear-gradient(top, #9addf3, #51c4ea)
	background-image: -o-linear-gradient(top, #9addf3, #51c4ea)
	background-image: linear-gradient(#9addf3, #51c4ea)
	border-color: #51c4ea #51c4ea hsl(195, 79%, 58%)
	color: #fff !important
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.26)
	-webkit-font-smoothing: antialiased
	text-decoration: none
	&:hover
		text-decoration: none
.btn-ico
	font-size: 12px
	vertical-align: middle
	i
		display: inline-block
		margin-right: 7px
		vertical-align: middle
.list-box-toggle
	.gray-box
		cursor: pointer
.simple-list
	list-style: none
	margin: 7px 0
	li
		position: relative
		margin-bottom: 3px
		margin-left: 49px
		&:before
			content: ''
			position: absolute
			top: 7px
			left: -30px
			height: 8px
			width: 8px
			background: url(../img/site/list.png) no-repeat
		a
			font-size: 12px
			line-height: 17px
		.nested-list
			margin-left: -50px
			margin-top: 4px
			margin-bottom: 23px
			list-style: none
			li
				position: relative
				margin-left: 0px
				padding-left: 61px
				margin-bottom: 0px
				&:before
					content: '-'
					position: absolute
					top: 0px
					left: 52px
					height: 0
					width: 0
					background: none
					a
						font-size: 11px
						font-weight: inherit
						text-decoration: none
						padding: 7px 0px
						line-height: 11px
					&:hover
						background: #d9dce0
						&:before
							color: #fff
						a
							color: #fff
							text-decoration: none
	.active
		a
			font-weight: bold
		.nested-list
			li
				a
					font-weight: inherit
.gray-box
	background: #ced1d5
	+border-radius(4px)
	padding: 7px 9px
	margin-top: 2px
	p
		margin-bottom: 0px
		display: inline-block
		font-weight: bold
		font-size: 13px
		width: 208px
	i
		display: inline-block
		vertical-align: top
		margin-right: 6px
				
.breadcumbs
	list-style: none
	margin-top: 0px
	margin-left: 0px
	margin-bottom: 14px
	li
		float: left
		font-family: "Tahoma", "Geneva", sans-serif
		a
			color: #939598
			font-size: 12px
		.divider
			color: #939598
			margin-left: -1px
			margin-right: 4px
	.active
		font-size: 12px
		color: #939598
.consultant
	.pull-left
		margin-right: 15px
		img
			margin-bottom: 10px
	.media-body
		.name
			font-weight: bold
			font-size: 12px
			line-height: 13px
			margin-bottom: 14px
			color: #090972
		.post
			font-size: 11px
			line-height: 15px
			margin-bottom: 10px
			color: #939598
		p
			line-height: 18px
.simple-form
	margin-top: 4px
	label
		font-size: 14px
		margin-bottom: 2px
	input
		margin-bottom: 14px
	.log-in
		margin-top: 14px
		button
			width: 102px
			margin-top: 6px
	.simple-form-sotial
		p
			margin: 0
			font-size: 14px
		a
			margin-right: 8px
	textarea
		resize: none
.comments-form
	textarea
		resize: none
	.control-label
		width: 91px
		text-align: left
	.controls
		margin-left: 91px
		input, textarea
			width: 356px
.btn-wide
	width: 134px
.map
	border: 1px solid #ced1d5
.action
	.pull-left
		margin-right: 15px
	.media-body
		h4
			color: #090972
			font-style: italic
			font-weight: inherit
			line-height: 14px
			margin-top: 0
			margin-bottom: 17px
			cursor: pointer
			font-family: "Times New Roman", Times, serif
			span
				font-size: 11px
				font-style: normal
				color: #939598
				padding-right: 10px
		.action-description
			line-height: 16px
			margin-bottom: 15px
		ul
			margin: 0 0 0px 17px
			li
				padding-left: 19px
				line-height: 13px
				margin-bottom: 4px
				&:nth-last-child(1)
					margin-bottom: 0px
		p
			line-height: 17px
		.action-join
			margin-top: 24px
			.social-buttons
				display: inline-block
.article
	.pull-left
		margin-right: 10px
		margin-bottom: 35px
	.social-buttons
		margin-top: 19px
.comments
	margin-top: 25px
	.comment
		margin-bottom: 13px
		padding-bottom: 34px
		p
			margin: 0 0 6px
.sertificats
	.row-fluid
		margin-bottom: 32px
	p
		color: #090972
		line-height: 17px
		margin-top: 5px
		margin-bottom: 0
.services-table
	width: 100%
	td
		width: 495px
		vertical-align: top !important
		&:nth-child(1)
			padding-right: 7.5px
		&:nth-child(2)
			padding-left: 7.5px
.modal
	z-index: 3000
	&.modal-small
		width: 460px
		margin-left: -230px
	.modal-body
		max-height: none
	.control-group
		.control-label
			text-align: left
		.controls
			input, textarea
				width: 235px
.modal-small-select-area
	.modal-select
		list-style: none
		margin: 0
		li
			position: relative
			a
				display: inline-block
				color: #f6f6f6
				border-bottom: 1px dashed #f6f6f6
				margin-bottom: 14px
				padding-right: 2px
				&:hover
					text-decoration: none
					border-bottom: 1px solid transparent
			span
				display: inline-block
				color: #a3b6c9
		.active
			&:after
				content: ""
				position: absolute
				height: 7px
				width: 4px
				left: 127px
				top: 7px
				background: url(../img/site/modal-active.png) no-repeat
			a
				border-bottom: 1px solid transparent
	.controls
		margin-left: 140px
	.control-label
		width: 134px
			
	.tab-content
		height: 161px
		max-height: 161px
		background: #a0acb7
		padding-left: 9px
		.checkbox
			margin-bottom: 0
			color: #f6f6f6 !important
			input
				width: 20px