/* line 2, ../../assets/sass/_sticky-footer.sass */
html {
  overflow-y: scroll;
}

/* line 4, ../../assets/sass/_sticky-footer.sass */
html, body {
  height: 100%;
  position: relative;
}

/* line 7, ../../assets/sass/_sticky-footer.sass */
footer {
  height: 131px;
}

/* line 9, ../../assets/sass/_sticky-footer.sass */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -131px;
}

/* line 14, ../../assets/sass/_sticky-footer.sass */
.push {
  height: 204px;
}

/* line 330, i/*.png */
.i-sprite, .i-abc, .i-arrow, .i-fb-else, .i-fb, .i-mail-blue, .i-mail-header, .i-map-blue, .i-mesage, .i-money, .i-pag-next, .i-pag-prev, .i-person, .i-phone-blue, .i-phone-header, .i-phone-white, .i-search, .i-tw-else, .i-tw, .i-video-header, .i-video, .i-vk-else, .i-vk, .i-zavod, header .response-forms a:hover .i-video-header, header .response-forms a:hover .i-phone-header, header .response-forms a:hover .i-mail-header, .footer-buttons a:hover .i-video, .footer-buttons a:hover .i-phone-blue, .footer-buttons a:hover .i-mail-blue, .footer-buttons a:hover .i-map-blue {
  background: url('/static/img/i-s2ffd4ef0ea.png') no-repeat;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-abc {
  background-position: 0 0;
  height: 25px;
  width: 25px;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-arrow {
  background-position: -35px 0;
  height: 3px;
  width: 10px;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-fb-else {
  background-position: -55px 0;
  height: 39px;
  width: 39px;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-fb {
  background-position: -104px 0;
  height: 34px;
  width: 34px;
}
/* line 43, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-fb:hover, .i-fb.fb_hover, .i-fb.fb-hover {
  background-position: -148px 0;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-mail-blue {
  background-position: -192px 0;
  height: 14px;
  width: 20px;
}
/* line 43, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-mail-blue:hover, .i-mail-blue.mail-blue_hover, .i-mail-blue.mail-blue-hover {
  background-position: -222px 0;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-mail-header {
  background-position: -252px 0;
  height: 14px;
  width: 20px;
}
/* line 43, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-mail-header:hover, .i-mail-header.mail-header_hover, .i-mail-header.mail-header-hover {
  background-position: -282px 0;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-map-blue {
  background-position: -312px 0;
  height: 15px;
  width: 16px;
}
/* line 43, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-map-blue:hover, .i-map-blue.map-blue_hover, .i-map-blue.map-blue-hover {
  background-position: -338px 0;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-mesage {
  background-position: -364px 0;
  height: 27px;
  width: 31px;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-money {
  background-position: -405px 0;
  height: 25px;
  width: 24px;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-pag-next {
  background-position: -439px 0;
  height: 7px;
  width: 5px;
}
/* line 43, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-pag-next:hover, .i-pag-next.pag-next_hover, .i-pag-next.pag-next-hover {
  background-position: -454px 0;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-pag-prev {
  background-position: -469px 0;
  height: 7px;
  width: 5px;
}
/* line 43, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-pag-prev:hover, .i-pag-prev.pag-prev_hover, .i-pag-prev.pag-prev-hover {
  background-position: -484px 0;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-person {
  background-position: -499px 0;
  height: 21px;
  width: 25px;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-phone-blue {
  background-position: -534px 0;
  height: 20px;
  width: 20px;
}
/* line 43, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-phone-blue:hover, .i-phone-blue.phone-blue_hover, .i-phone-blue.phone-blue-hover {
  background-position: -564px 0;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-phone-header {
  background-position: -594px 0;
  height: 20px;
  width: 20px;
}
/* line 43, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-phone-header:hover, .i-phone-header.phone-header_hover, .i-phone-header.phone-header-hover {
  background-position: -624px 0;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-phone-white {
  background-position: -654px 0;
  height: 20px;
  width: 20px;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-search {
  background-position: -684px 0;
  height: 19px;
  width: 17px;
}
/* line 43, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-search:hover, .i-search.search_hover, .i-search.search-hover {
  background-position: -711px 0;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-tw-else {
  background-position: -738px 0;
  height: 40px;
  width: 40px;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-tw {
  background-position: -788px 0;
  height: 34px;
  width: 34px;
}
/* line 43, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-tw:hover, .i-tw.tw_hover, .i-tw.tw-hover {
  background-position: -832px 0;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-video-header {
  background-position: -876px 0;
  height: 14px;
  width: 27px;
}
/* line 43, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-video-header:hover, .i-video-header.video-header_hover, .i-video-header.video-header-hover {
  background-position: -913px 0;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-video {
  background-position: -950px 0;
  height: 14px;
  width: 27px;
}
/* line 43, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-video:hover, .i-video.video_hover, .i-video.video-hover {
  background-position: -987px 0;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-vk-else {
  background-position: -1024px 0;
  height: 38px;
  width: 39px;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-vk {
  background-position: -1073px 0;
  height: 34px;
  width: 34px;
}
/* line 43, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-vk:hover, .i-vk.vk_hover, .i-vk.vk-hover {
  background-position: -1117px 0;
}

/* line 60, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-zavod {
  background-position: -1161px 0;
  height: 25px;
  width: 91px;
}
/* line 43, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.i-zavod:hover, .i-zavod.zavod_hover, .i-zavod.zavod-hover {
  background-position: -1262px 0;
}

/* line 1, ../../assets/sass/_header.sass */
header {
  padding-top: 22px;
  position: relative;
}
/* line 4, ../../assets/sass/_header.sass */
header .header-bg {
  background: url(../img/site/header-bg.png) no-repeat;
  height: 194px;
  width: 424px;
  position: absolute;
  right: -54px;
  top: 0px;
  z-index: -1;
}
@media (max-width: 1023px) {
  /* line 4, ../../assets/sass/_header.sass */
  header .header-bg {
    right: 0 !important;
  }
}
/* line 14, ../../assets/sass/_header.sass */
header .main-search {
  position: relative;
}
/* line 16, ../../assets/sass/_header.sass */
header .main-search a {
  position: absolute;
  right: 0px;
  top: 26px;
}
/* line 20, ../../assets/sass/_header.sass */
header .main-search input {
  margin-top: 20px;
  padding-right: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 258px;
  line-height: 22px;
  height: 30px;
}
/* line 28, ../../assets/sass/_header.sass */
header nav a {
  padding: 22px 41px 22px 0px;
  font-size: 20px;
  text-decoration: none;
}
/* line 32, ../../assets/sass/_header.sass */
header nav a:hover {
  color: #74d1f5;
  text-decoration: underline;
}
/* line 35, ../../assets/sass/_header.sass */
header .response-forms {
  margin-top: 15px;
}
/* line 38, ../../assets/sass/_header.sass */
header .response-forms a:hover {
  color: #74d1f5;
}
/* line 40, ../../assets/sass/_header.sass */
header .response-forms a:hover .i-video-header {
  background-position: -913px 0;
  height: 14px;
  width: 27px;
}
/* line 42, ../../assets/sass/_header.sass */
header .response-forms a:hover .i-phone-header {
  background-position: -624px 0;
  height: 20px;
  width: 20px;
}
/* line 44, ../../assets/sass/_header.sass */
header .response-forms a:hover .i-mail-header {
  background-position: -282px 0;
  height: 14px;
  width: 20px;
}

/* line 13, ../../assets/sass/_flexslider.sass */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none;
}

/* line 16, ../../assets/sass/_flexslider.sass */
.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 24, ../../assets/sass/_flexslider.sass */
.flexslider {
  margin: 0;
  padding: 0;
}
/* line 28, ../../assets/sass/_flexslider.sass */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
/* line 31, ../../assets/sass/_flexslider.sass */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 37, ../../assets/sass/_flexslider.sass */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* line 42, ../../assets/sass/_flexslider.sass */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 50, ../../assets/sass/_flexslider.sass */
html[xmlns] .slides {
  display: block;
}

/* line 53, ../../assets/sass/_flexslider.sass */
* html .slides {
  height: 1%;
}

/* line 60, ../../assets/sass/_flexslider.sass */
.no-js .slides > li:first-child {
  display: block;
}

/* line 66, ../../assets/sass/_flexslider.sass */
.flexslider {
  margin: 0 0 0px;
  position: relative;
  zoom: 1;
}

/* line 71, ../../assets/sass/_flexslider.sass */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 77, ../../assets/sass/_flexslider.sass */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 80, ../../assets/sass/_flexslider.sass */
.flexslider .slides {
  zoom: 1;
}

/* line 83, ../../assets/sass/_flexslider.sass */
.carousel li {
  margin-right: 5px;
}

/* line 88, ../../assets/sass/_flexslider.sass */
.flex-direction-nav {
  *height: 0;
}
/* line 90, ../../assets/sass/_flexslider.sass */
.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -15px 0 0;
  display: block;
  background: url(../img/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
}
/* line 103, ../../assets/sass/_flexslider.sass */
.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px;
}
/* line 106, ../../assets/sass/_flexslider.sass */
.flex-direction-nav .flex-prev {
  left: -36px;
}

/* line 110, ../../assets/sass/_flexslider.sass */
.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px;
}
/* line 113, ../../assets/sass/_flexslider.sass */
.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px;
}
/* line 116, ../../assets/sass/_flexslider.sass */
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

/* line 119, ../../assets/sass/_flexslider.sass */
.flex-direction-nav .flex-disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
  cursor: default;
}

/* line 126, ../../assets/sass/_flexslider.sass */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
/* line 131, ../../assets/sass/_flexslider.sass */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 137, ../../assets/sass/_flexslider.sass */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
/* line 150, ../../assets/sass/_flexslider.sass */
.flex-control-paging li a:hover {
  background: #333333;
  background: rgba(0, 0, 0, 0.7);
}
/* line 153, ../../assets/sass/_flexslider.sass */
.flex-control-paging li a.flex-active {
  background: black;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

/* line 158, ../../assets/sass/_flexslider.sass */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
/* line 162, ../../assets/sass/_flexslider.sass */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
/* line 166, ../../assets/sass/_flexslider.sass */
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: 0.7;
  cursor: pointer;
}
/* line 171, ../../assets/sass/_flexslider.sass */
.flex-control-thumbs img:hover {
  opacity: 1;
}
/* line 173, ../../assets/sass/_flexslider.sass */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  /* line 179, ../../assets/sass/_flexslider.sass */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0;
  }
  /* line 182, ../../assets/sass/_flexslider.sass */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0;
  }
}
/* line 186, ../../assets/sass/_flexslider.sass */
.slider {
  margin-bottom: 13px;
  height: 268px;
  width: 733px;
  overflow: hidden;
}
/* line 192, ../../assets/sass/_flexslider.sass */
.slider .slider-header li {
  width: 147px;
}
/* line 194, ../../assets/sass/_flexslider.sass */
.slider .slider-header li img {
  width: 135px;
  height: 50px;
  border: 6px solid #ced1d5;
}
/* line 198, ../../assets/sass/_flexslider.sass */
.slider .slider-header li img:hover {
  border: 6px solid #74d1f5;
}
/* line 201, ../../assets/sass/_flexslider.sass */
.slider .slider-header .active img {
  border: 6px solid #74d1f5;
}
/* line 203, ../../assets/sass/_flexslider.sass */
.slider .slider-body {
  position: relative;
  height: 206px;
}
/* line 206, ../../assets/sass/_flexslider.sass */
.slider .slider-body img {
  height: 206px;
  width: 100%;
}

/* line 209, ../../assets/sass/_flexslider.sass */
.slider-wide {
  height: 312px;
  width: 1005px;
}
/* line 213, ../../assets/sass/_flexslider.sass */
.slider-wide .slider-header li {
  width: 147px;
}
/* line 215, ../../assets/sass/_flexslider.sass */
.slider-wide .slider-header li img {
  width: 135px;
}
/* line 217, ../../assets/sass/_flexslider.sass */
.slider-wide .slider-body {
  height: 250px;
  position: relative;
}
/* line 220, ../../assets/sass/_flexslider.sass */
.slider-wide .slider-body .slider-content {
  background: rgba(88, 89, 121, 0.7);
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 18px;
}
/* line 226, ../../assets/sass/_flexslider.sass */
.slider-wide .slider-body .slider-content a {
  color: white;
  font-size: 20px;
  line-height: 30px;
}
/* line 230, ../../assets/sass/_flexslider.sass */
.slider-wide .slider-body img {
  height: 250px;
}

/* line 1, ../../assets/sass/_footer.sass */
.footer-contacts {
  color: #818195;
  font-size: 11px;
  line-height: 18px;
}

/* line 6, ../../assets/sass/_footer.sass */
.footer-buttons a {
  margin-bottom: 8px;
  width: 128px;
}
/* line 10, ../../assets/sass/_footer.sass */
.footer-buttons a:hover .i-video {
  background-position: -987px 0;
  height: 14px;
  width: 27px;
}
/* line 12, ../../assets/sass/_footer.sass */
.footer-buttons a:hover .i-phone-blue {
  background-position: -564px 0;
  height: 20px;
  width: 20px;
}
/* line 14, ../../assets/sass/_footer.sass */
.footer-buttons a:hover .i-mail-blue {
  background-position: -222px 0;
  height: 14px;
  width: 20px;
}
/* line 16, ../../assets/sass/_footer.sass */
.footer-buttons a:hover .i-map-blue {
  background-position: -338px 0;
  height: 15px;
  width: 16px;
}

/* line 19, ../../assets/sass/_footer.sass */
.sotial-buttons a {
  margin-left: 5px;
}

/* line 22, ../../assets/sass/_footer.sass */
.zavod p {
  font-size: 12px;
  color: #747b8a;
  margin-bottom: 0;
  margin-right: 4px;
}

/* line 1, ../../assets/sass/_pagination.sass */
.pagination-box {
  text-align: center;
  border-top: 1px solid #d1d2d2;
  border-bottom: 1px solid #d1d2d2;
  margin-top: 35px;
  padding: 9px 0 2px;
}
/* line 7, ../../assets/sass/_pagination.sass */
.pagination-box ul {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: 0;
}
/* line 12, ../../assets/sass/_pagination.sass */
.pagination-box ul li {
  float: left;
}
/* line 14, ../../assets/sass/_pagination.sass */
.pagination-box ul li a {
  font-size: 14px;
  padding: 6px 11.8px;
  text-decoration: none;
}
/* line 18, ../../assets/sass/_pagination.sass */
.pagination-box ul li a:hover {
  text-decoration: underline;
  color: #74d1f5;
}
/* line 22, ../../assets/sass/_pagination.sass */
.pagination-box ul .active a {
  font-size: 20px;
  color: #272e3f;
  cursor: default;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 28, ../../assets/sass/_pagination.sass */
.pagination-box ul .active a:hover {
  text-decoration: none;
  color: #272e3f;
}
/* line 31, ../../assets/sass/_pagination.sass */
.pagination-box ul .prev-page {
  margin-right: 19px;
  margin-top: 6px;
}
/* line 34, ../../assets/sass/_pagination.sass */
.pagination-box ul .prev-page a {
  padding: 0;
  margin: 8;
}
/* line 37, ../../assets/sass/_pagination.sass */
.pagination-box ul .next-page {
  margin-left: 19px;
  margin-top: 6px;
}
/* line 40, ../../assets/sass/_pagination.sass */
.pagination-box ul .next-page a {
  padding: 0;
  margin: 8;
}

/* line 44, ../../assets/sass/_pagination.sass */
.selector-box a {
  display: inline-block;
  padding: 7px 9px;
  font-size: 14px;
  margin-right: 0px;
}
/* line 49, ../../assets/sass/_pagination.sass */
.selector-box .active {
  font-size: 20px;
  color: #272e3f;
  background: white;
  cursor: default;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}
/* line 56, ../../assets/sass/_pagination.sass */
.selector-box .active:hover {
  text-decoration: none;
}

/* line 18, ../../assets/sass/application.sass */
body {
  color: #171742;
  background: url(../img/site/bg.png);
}

/* line 21, ../../assets/sass/application.sass */
article {
  padding-top: 10px;
}

/* line 23, ../../assets/sass/application.sass */
a {
  font-size: 12px;
  color: #090972;
  display: inline-block;
  margin-right: 6px;
  text-decoration: underline;
}
/* line 29, ../../assets/sass/application.sass */
a:hover {
  text-decoration: none;
  color: #090972;
}
/* line 32, ../../assets/sass/application.sass */
a i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}

/* line 36, ../../assets/sass/application.sass */
.ico-header {
  color: #393942;
  font-family: "Times New Roman", Times, serif;
}
/* line 39, ../../assets/sass/application.sass */
.ico-header i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

/* line 43, ../../assets/sass/application.sass */
.with-ico {
  text-decoration: none;
}
/* line 45, ../../assets/sass/application.sass */
.with-ico i {
  margin-right: 5px;
}
/* line 47, ../../assets/sass/application.sass */
.with-ico:hover {
  text-decoration: underline;
}

/* line 49, ../../assets/sass/application.sass */
.only-ico {
  text-decoration: none;
}
/* line 51, ../../assets/sass/application.sass */
.only-ico:hover {
  text-decoration: none;
}

/* line 53, ../../assets/sass/application.sass */
.link-2-all {
  margin-top: 7px;
  padding-right: 0;
}

/* line 56, ../../assets/sass/application.sass */
.container {
  min-width: 1005px;
}

/* line 58, ../../assets/sass/application.sass */
.date-spn {
  color: #939598;
  font-family: "Tahoma", "Geneva", sans-serif;
  font-size: 11px;
  padding-right: 7px;
}

/* line 64, ../../assets/sass/application.sass */
.from-slider img {
  width: 460px;
  height: 116px;
  margin-bottom: 7px;
}
/* line 68, ../../assets/sass/application.sass */
.from-slider h2, .from-slider h3 {
  color: #74d1f5;
}

/* line 70, ../../assets/sass/application.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 72, ../../assets/sass/application.sass */
h1 {
  font-size: 30px;
  line-height: 36px;
}

/* line 75, ../../assets/sass/application.sass */
h2 {
  font-size: 24px;
  line-height: 28px;
}

/* line 78, ../../assets/sass/application.sass */
h3 {
  font-size: 22px;
  line-height: 25px;
}

/* line 81, ../../assets/sass/application.sass */
h4 {
  font-size: 18px;
  line-height: 22px;
}

/* line 84, ../../assets/sass/application.sass */
h5 {
  font-size: 16px;
  line-height: 20px;
}

/* line 87, ../../assets/sass/application.sass */
h6 {
  font-size: 14px;
  line-height: 14px;
}

/* line 90, ../../assets/sass/application.sass */
p {
  font-size: 12px;
}

/* line 92, ../../assets/sass/application.sass */
big {
  font-size: 16px;
}

/* line 94, ../../assets/sass/application.sass */
input, select, textarea {
  border: 1px solid #f1f1f1 !important;
  color: #8e95a0;
}

/* line 99, ../../assets/sass/application.sass */
.social-buttons > .fb-like,
.social-buttons > table,
.social-buttons > iframe {
  display: inline-block;
  vertical-align: top;
  margin: 0 7px 0 0;
}
/* line 105, ../../assets/sass/application.sass */
.social-buttons #fb-root {
  display: inline;
}

/* line 107, ../../assets/sass/application.sass */
.blue-box {
  background: #74d1f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 1px 18px;
  margin-bottom: 17px;
}
/* line 112, ../../assets/sass/application.sass */
.blue-box h1 {
  color: white;
  line-height: 30px;
}
/* line 115, ../../assets/sass/application.sass */
.blue-box .underline {
  text-decoration: underline;
}
/* line 117, ../../assets/sass/application.sass */
.blue-box .span4 {
  width: 222px;
}
/* line 119, ../../assets/sass/application.sass */
.blue-box a {
  color: white;
}
/* line 121, ../../assets/sass/application.sass */
.blue-box a:hover {
  color: white;
}

/* line 123, ../../assets/sass/application.sass */
.white-box {
  background: #f2f2f2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 12px;
}

/* line 127, ../../assets/sass/application.sass */
.border-box {
  border-bottom: 1px solid #ced1d5;
  padding-bottom: 8px;
}
/* line 130, ../../assets/sass/application.sass */
.border-box span {
  color: #939598;
  font-size: 11px;
  display: inline-block;
}
/* line 134, ../../assets/sass/application.sass */
.border-box a {
  display: inline;
}
/* line 136, ../../assets/sass/application.sass */
.border-box img {
  margin-bottom: 7px;
}
/* line 138, ../../assets/sass/application.sass */
.border-box .prepend {
  width: 73px;
  color: #393942;
  font-size: 12px;
}

/* line 143, ../../assets/sass/application.sass */
.btn-primary {
  background-color: #52c4eb !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9addf3", endColorstr="#51c4ea");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#9addf3), to(#51c4ea));
  background-image: -moz-linear-gradient(top, #9addf3, #51c4ea);
  background-image: -ms-linear-gradient(top, #9addf3, #51c4ea);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9addf3), color-stop(100%, #51c4ea));
  background-image: -webkit-linear-gradient(top, #9addf3, #51c4ea);
  background-image: -o-linear-gradient(top, #9addf3, #51c4ea);
  background-image: linear-gradient(#9addf3, #51c4ea);
  border-color: #51c4ea #51c4ea #3fbee9;
  color: white !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.26);
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
/* line 159, ../../assets/sass/application.sass */
.btn-primary:hover {
  text-decoration: none;
}

/* line 161, ../../assets/sass/application.sass */
.btn-ico {
  font-size: 12px;
  vertical-align: middle;
}
/* line 164, ../../assets/sass/application.sass */
.btn-ico i {
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;
}

/* line 169, ../../assets/sass/application.sass */
.list-box-toggle .gray-box {
  cursor: pointer;
}

/* line 171, ../../assets/sass/application.sass */
.simple-list {
  list-style: none;
  margin: 7px 0;
}
/* line 174, ../../assets/sass/application.sass */
.simple-list li {
  position: relative;
  margin-bottom: 3px;
  margin-left: 49px;
}
/* line 178, ../../assets/sass/application.sass */
.simple-list li:before {
  content: "";
  position: absolute;
  top: 7px;
  left: -30px;
  height: 8px;
  width: 8px;
  background: url(../img/site/list.png) no-repeat;
}
/* line 186, ../../assets/sass/application.sass */
.simple-list li a {
  font-size: 12px;
  line-height: 17px;
}
/* line 189, ../../assets/sass/application.sass */
.simple-list li .nested-list {
  margin-left: -50px;
  margin-top: 4px;
  margin-bottom: 23px;
  list-style: none;
}
/* line 194, ../../assets/sass/application.sass */
.simple-list li .nested-list li {
  position: relative;
  margin-left: 0px;
  padding-left: 61px;
  margin-bottom: 0px;
}
/* line 199, ../../assets/sass/application.sass */
.simple-list li .nested-list li:before {
  content: "-";
  position: absolute;
  top: 0px;
  left: 52px;
  height: 0;
  width: 0;
  background: none;
}
/* line 207, ../../assets/sass/application.sass */
.simple-list li .nested-list li:before a {
  font-size: 11px;
  font-weight: inherit;
  text-decoration: none;
  padding: 7px 0px;
  line-height: 11px;
}
/* line 213, ../../assets/sass/application.sass */
.simple-list li .nested-list li:before:hover {
  background: #d9dce0;
}
/* line 215, ../../assets/sass/application.sass */
.simple-list li .nested-list li:before:hover:before {
  color: white;
}
/* line 217, ../../assets/sass/application.sass */
.simple-list li .nested-list li:before:hover a {
  color: white;
  text-decoration: none;
}
/* line 221, ../../assets/sass/application.sass */
.simple-list .active a {
  font-weight: bold;
}
/* line 225, ../../assets/sass/application.sass */
.simple-list .active .nested-list li a {
  font-weight: inherit;
}

/* line 227, ../../assets/sass/application.sass */
.gray-box {
  background: #ced1d5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 7px 9px;
  margin-top: 2px;
}
/* line 232, ../../assets/sass/application.sass */
.gray-box p {
  margin-bottom: 0px;
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
  width: 208px;
}
/* line 238, ../../assets/sass/application.sass */
.gray-box i {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}

/* line 243, ../../assets/sass/application.sass */
.breadcumbs {
  list-style: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 14px;
}
/* line 248, ../../assets/sass/application.sass */
.breadcumbs li {
  float: left;
  font-family: "Tahoma", "Geneva", sans-serif;
}
/* line 251, ../../assets/sass/application.sass */
.breadcumbs li a {
  color: #939598;
  font-size: 12px;
}
/* line 254, ../../assets/sass/application.sass */
.breadcumbs li .divider {
  color: #939598;
  margin-left: -1px;
  margin-right: 4px;
}
/* line 258, ../../assets/sass/application.sass */
.breadcumbs .active {
  font-size: 12px;
  color: #939598;
}

/* line 262, ../../assets/sass/application.sass */
.consultant .pull-left {
  margin-right: 15px;
}
/* line 264, ../../assets/sass/application.sass */
.consultant .pull-left img {
  margin-bottom: 10px;
}
/* line 267, ../../assets/sass/application.sass */
.consultant .media-body .name {
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
  margin-bottom: 14px;
  color: #090972;
}
/* line 273, ../../assets/sass/application.sass */
.consultant .media-body .post {
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 10px;
  color: #939598;
}
/* line 278, ../../assets/sass/application.sass */
.consultant .media-body p {
  line-height: 18px;
}

/* line 280, ../../assets/sass/application.sass */
.simple-form {
  margin-top: 4px;
}
/* line 282, ../../assets/sass/application.sass */
.simple-form label {
  font-size: 14px;
  margin-bottom: 2px;
}
/* line 285, ../../assets/sass/application.sass */
.simple-form input {
  margin-bottom: 14px;
}
/* line 287, ../../assets/sass/application.sass */
.simple-form .log-in {
  margin-top: 14px;
}
/* line 289, ../../assets/sass/application.sass */
.simple-form .log-in button {
  width: 102px;
  margin-top: 6px;
}
/* line 293, ../../assets/sass/application.sass */
.simple-form .simple-form-sotial p {
  margin: 0;
  font-size: 14px;
}
/* line 296, ../../assets/sass/application.sass */
.simple-form .simple-form-sotial a {
  margin-right: 8px;
}
/* line 298, ../../assets/sass/application.sass */
.simple-form textarea {
  resize: none;
}

/* line 301, ../../assets/sass/application.sass */
.comments-form textarea {
  resize: none;
}
/* line 303, ../../assets/sass/application.sass */
.comments-form .control-label {
  width: 91px;
  text-align: left;
}
/* line 306, ../../assets/sass/application.sass */
.comments-form .controls {
  margin-left: 91px;
}
/* line 308, ../../assets/sass/application.sass */
.comments-form .controls input, .comments-form .controls textarea {
  width: 356px;
}

/* line 310, ../../assets/sass/application.sass */
.btn-wide {
  width: 134px;
}

/* line 312, ../../assets/sass/application.sass */
.map {
  border: 1px solid #ced1d5;
}

/* line 315, ../../assets/sass/application.sass */
.action .pull-left {
  margin-right: 15px;
}
/* line 318, ../../assets/sass/application.sass */
.action .media-body h4 {
  color: #090972;
  font-style: italic;
  font-weight: inherit;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 17px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}
/* line 327, ../../assets/sass/application.sass */
.action .media-body h4 span {
  font-size: 11px;
  font-style: normal;
  color: #939598;
  padding-right: 10px;
}
/* line 332, ../../assets/sass/application.sass */
.action .media-body .action-description {
  line-height: 16px;
  margin-bottom: 15px;
}
/* line 335, ../../assets/sass/application.sass */
.action .media-body ul {
  margin: 0 0 0px 17px;
}
/* line 337, ../../assets/sass/application.sass */
.action .media-body ul li {
  padding-left: 19px;
  line-height: 13px;
  margin-bottom: 4px;
}
/* line 341, ../../assets/sass/application.sass */
.action .media-body ul li:nth-last-child(1) {
  margin-bottom: 0px;
}
/* line 343, ../../assets/sass/application.sass */
.action .media-body p {
  line-height: 17px;
}
/* line 345, ../../assets/sass/application.sass */
.action .media-body .action-join {
  margin-top: 24px;
}
/* line 347, ../../assets/sass/application.sass */
.action .media-body .action-join .social-buttons {
  display: inline-block;
}

/* line 350, ../../assets/sass/application.sass */
.article .pull-left {
  margin-right: 10px;
  margin-bottom: 35px;
}
/* line 353, ../../assets/sass/application.sass */
.article .social-buttons {
  margin-top: 19px;
}

/* line 355, ../../assets/sass/application.sass */
.comments {
  margin-top: 25px;
}
/* line 357, ../../assets/sass/application.sass */
.comments .comment {
  margin-bottom: 13px;
  padding-bottom: 34px;
}
/* line 360, ../../assets/sass/application.sass */
.comments .comment p {
  margin: 0 0 6px;
}

/* line 363, ../../assets/sass/application.sass */
.sertificats .row-fluid {
  margin-bottom: 32px;
}
/* line 365, ../../assets/sass/application.sass */
.sertificats p {
  color: #090972;
  line-height: 17px;
  margin-top: 5px;
  margin-bottom: 0;
}

/* line 370, ../../assets/sass/application.sass */
.services-table {
  width: 100%;
}
/* line 372, ../../assets/sass/application.sass */
.services-table td {
  width: 495px;
  vertical-align: top !important;
}
/* line 375, ../../assets/sass/application.sass */
.services-table td:nth-child(1) {
  padding-right: 7.5px;
}
/* line 377, ../../assets/sass/application.sass */
.services-table td:nth-child(2) {
  padding-left: 7.5px;
}

/* line 379, ../../assets/sass/application.sass */
.modal {
  z-index: 3000;
}
/* line 381, ../../assets/sass/application.sass */
.modal.modal-small {
  width: 460px;
  margin-left: -230px;
}
/* line 384, ../../assets/sass/application.sass */
.modal .modal-body {
  max-height: none;
}
/* line 387, ../../assets/sass/application.sass */
.modal .control-group .control-label {
  text-align: left;
}
/* line 390, ../../assets/sass/application.sass */
.modal .control-group .controls input, .modal .control-group .controls textarea {
  width: 235px;
}

/* line 393, ../../assets/sass/application.sass */
.modal-small-select-area .modal-select {
  list-style: none;
  margin: 0;
}
/* line 396, ../../assets/sass/application.sass */
.modal-small-select-area .modal-select li {
  position: relative;
}
/* line 398, ../../assets/sass/application.sass */
.modal-small-select-area .modal-select li a {
  display: inline-block;
  color: #f6f6f6;
  border-bottom: 1px dashed #f6f6f6;
  margin-bottom: 14px;
  padding-right: 2px;
}
/* line 404, ../../assets/sass/application.sass */
.modal-small-select-area .modal-select li a:hover {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
/* line 407, ../../assets/sass/application.sass */
.modal-small-select-area .modal-select li span {
  display: inline-block;
  color: #a3b6c9;
}
/* line 411, ../../assets/sass/application.sass */
.modal-small-select-area .modal-select .active:after {
  content: "";
  position: absolute;
  height: 7px;
  width: 4px;
  left: 127px;
  top: 7px;
  background: url(../img/site/modal-active.png) no-repeat;
}
/* line 419, ../../assets/sass/application.sass */
.modal-small-select-area .modal-select .active a {
  border-bottom: 1px solid transparent;
}
/* line 421, ../../assets/sass/application.sass */
.modal-small-select-area .controls {
  margin-left: 140px;
}
/* line 423, ../../assets/sass/application.sass */
.modal-small-select-area .control-label {
  width: 134px;
}
/* line 426, ../../assets/sass/application.sass */
.modal-small-select-area .tab-content {
  height: 161px;
  max-height: 161px;
  background: #a0acb7;
  padding-left: 9px;
}
/* line 431, ../../assets/sass/application.sass */
.modal-small-select-area .tab-content .checkbox {
  margin-bottom: 0;
  color: #f6f6f6 !important;
}
/* line 434, ../../assets/sass/application.sass */
.modal-small-select-area .tab-content .checkbox input {
  width: 20px;
}
