{% extends "base.html" %}
{% block title %}404{% endblock %}
{% block content %}
<div class="container">
	<div class="span15">
		<h1 class="left-bordered">Страница не найдена</h1>
	</div>
</div>
{% endblock %}