{% extends "base.html" %}
{% block title %}Новости{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<ul class="breadcumbs clearfix">
			<li><a href="#">Главная</a> <span class="divider">→</span></li>
			<li><a href="#">Пресс-центр</a> <span class="divider">→</span></li>
			<li class="active">Новости</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span11">
		<div class="blue-box">
			<h1>О компании</h1>
		</div>
	</div>
	<div class="span4">
		<div class="blue-box">
			<h1>Новости</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span4">
		<ul class="simple-list">
			<li><a href="#">Почему мы?</a></li>
			<li><a href="#">Отзывы</a></li>
			<li><a href="#">Руководство</a></li>
			<li><a href="#">Карьера</a></li>
			<li><a href="#">Партнеры</a></li>
		</ul>
	</div>
	<div class="span7">
		<div class="from-slider">
			<img src="/static/img/examples/image-1.jpg" >
		</div>
		<div class="article">
			<p>BDO является ведущей аудиторско-консалтинговой группой компаний. Компании группы BDO входят в the BDO network — пятую в мире по объемам совокупной выручки международную сеть независимых аудиторских и консультационных компаний, насчитывающую более 48 000 сотрудников в 135 странах. В 2010 году завершился процесс объединения фирм-участниц сети под единым брендом — BDO. Единый бренд означает для наших клиентов международный уровень предоставления знаний, консолидацию опыта всех компаний объединения.
			Сегодня группа компаний BDO предлагает своим клиентам всестороннюю поддержку в следующих областях: аудит, консультирование по налогообложению и праву, финансовое консультирование, бизнес-консультирование и системная интеграция. Мы консультируем в сфере повышения эффективности, оздоровления и реструктуризации бизнеса. BDO располагает одной из крупнейших в стране практик в области создания систем управления и внедрения бизнес-решений.</p>
			<p>В офисах группы работает около 2000 сотрудников.</p>
			<p>Группа компаний BDO — надежный партнер быстрорастущего бизнеса, ведущих предприятий и банков, международных фирм. Более половины компаний, входящих в Топ-100 российского бизнеса, выбрали нас.</p>
			<p>В 2011 году оборот группы составил более 121 млн евро.</p>
			<p>По результатам ежегодных обзоров и исследований авторитетных национальных изданий и рейтинговых агентств, BDO стабильно занимает</p>
			{% include "partials/addthis.html" %}
		</div>
	</div>
	<div class="span4">
		<div class="border-box">
			<div>
				<img src="/static/img/site/news.png">
				<span class="date-spn">15.12.2012</span>
				<a href="#">BC в России провела семинар по учету в строительных компаниях</a>
				<p>Компания BDO в России провела семинар: «Актуальные вопросы учета и отчетности в строительных компаниях. Новые правила налогового контроля за трансфертным ценообразованием».</p>
			</div>
			<div>
				<img src="/static/img/site/news.png">
				<span class="date-spn">15.12.2012</span>
				<a href="#">BC в России провела семинар по учету в строительных компаниях</a>
				<p>Компания BDO в России провела семинар: «Актуальные вопросы учета и отчетности в строительных компаниях. Новые правила налогового контроля за трансфертным ценообразованием».</p>
			</div>
			<div>
				<img src="/static/img/site/news.png">
				<span class="date-spn">15.12.2012</span>
				<a href="#">BC в России провела семинар по учету в строительных компаниях</a>
				<p>Компания BDO в России провела семинар: «Актуальные вопросы учета и отчетности в строительных компаниях. Новые правила налогового контроля за трансфертным ценообразованием».</p>
			</div>
		</div>
		<a href="#" class="link-2-all clearfix pull-right">Все новости</a>
	</div>
</div>


{% endblock %}