{% extends "base.html" %}
{% block title %}Мероприятие{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<ul class="breadcumbs clearfix">
			<li><a href="#">Главная</a> <span class="divider">→</span></li>
			<li class="active">Мероприятие</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span11">
		<div class="blue-box">
			<h1>Мероприятия</h1>
		</div>
		<div class="media action">
			<div class="pull-left">
				<img src="/static/img/site/action.png">
			</div>
			<div class="media-body">
				<h4><span class="date-spn">15.12.2012</span>Международный инвестор расскажет о самых прибыльных бизнес-моделях в Интернете.</h4>
				<p class="action-description">15 декабря в Екатеринбурге пройдет мастер-класс Гайдара Магданурова (Москва), бывшего директора посевного финансирования <b>Microsoft</b>, ныне – инвестиционного директора венчурного фонда <b>Runa Capital</b>.
				В конце уходящего года команда образовательного проекта Web2Win предлагает вам взглянуть на свой бизнес или на перспективы его запуска с точки зрения привлекательности для инвесторов.</p>
				<div class="border-box">
					<ul>
						<li>В какие бизнес модели инвесторы склонны вкладывать?</li>
						<li>Какая рыночная стратегия максимально эффективна именно для вашего бизнеса?</li>
						<li>Как сгенерировать и удерживать конкурентные преимущества?</li>
					</ul>
					<p>На эти и многие другие вопросы вы сможете узнать ответ, посетив мастер-класс <a href="#">Гайдара Магданурова</a>.</p>
					<div class="action-join">
						<a class="btn btn-primary btn-wide pull-right" href="#call-back" data-toggle="modal">Записаться</a>
						{% include "partials/addthis.html" %}
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="media action">
			<div class="pull-left">
				<img src="/static/img/site/action.png">
			</div>
			<div class="media-body">
				<h4><span class="date-spn">15.12.2012</span>Международный инвестор расскажет о самых прибыльных бизнес-моделях в Интернете.</h4>
				<p class="action-description">15 декабря в Екатеринбурге пройдет мастер-класс Гайдара Магданурова (Москва), бывшего директора посевного финансирования <b>Microsoft</b>, ныне – инвестиционного директора венчурного фонда <b>Runa Capital</b>.
				В конце уходящего года команда образовательного проекта Web2Win предлагает вам взглянуть на свой бизнес или на перспективы его запуска с точки зрения привлекательности для инвесторов.</p>
				<div class="border-box">
					<ul>
						<li>В какие бизнес модели инвесторы склонны вкладывать?</li>
						<li>Какая рыночная стратегия максимально эффективна именно для вашего бизнеса?</li>
						<li>Как сгенерировать и удерживать конкурентные преимущества?</li>
					</ul>
					<p>На эти и многие другие вопросы вы сможете узнать ответ, посетив мастер-класс <a href="#">Гайдара Магданурова</a>.</p>
					<div class="action-join">
						<a class="btn btn-primary btn-wide pull-right" href="#call-back" data-toggle="modal">Записаться</a>
						{% include "partials/addthis.html" %}
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="media action">
			<div class="pull-left">
				<img src="/static/img/site/action.png">
			</div>
			<div class="media-body">
				<h4><span class="date-spn">15.12.2012</span>Международный инвестор расскажет о самых прибыльных бизнес-моделях в Интернете.</h4>
				<p class="action-description">15 декабря в Екатеринбурге пройдет мастер-класс Гайдара Магданурова (Москва), бывшего директора посевного финансирования <b>Microsoft</b>, ныне – инвестиционного директора венчурного фонда <b>Runa Capital</b>.
				В конце уходящего года команда образовательного проекта Web2Win предлагает вам взглянуть на свой бизнес или на перспективы его запуска с точки зрения привлекательности для инвесторов.</p>
				<div class="border-box">
					<ul>
						<li>В какие бизнес модели инвесторы склонны вкладывать?</li>
						<li>Какая рыночная стратегия максимально эффективна именно для вашего бизнеса?</li>
						<li>Как сгенерировать и удерживать конкурентные преимущества?</li>
					</ul>
					<p>На эти и многие другие вопросы вы сможете узнать ответ, посетив мастер-класс <a href="#">Гайдара Магданурова</a>.</p>
					<div class="action-join">
						<a class="btn btn-primary btn-wide pull-right" href="#call-back" data-toggle="modal">Записаться</a>
						{% include "partials/addthis.html" %}
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="media action">
			<div class="pull-left">
				<img src="/static/img/site/action.png">
			</div>
			<div class="media-body">
				<h4><span class="date-spn">15.12.2012</span>Международный инвестор расскажет о самых прибыльных бизнес-моделях в Интернете.</h4>
				<p class="action-description">15 декабря в Екатеринбурге пройдет мастер-класс Гайдара Магданурова (Москва), бывшего директора посевного финансирования <b>Microsoft</b>, ныне – инвестиционного директора венчурного фонда <b>Runa Capital</b>.
				В конце уходящего года команда образовательного проекта Web2Win предлагает вам взглянуть на свой бизнес или на перспективы его запуска с точки зрения привлекательности для инвесторов.</p>
				<div class="border-box">
					<ul>
						<li>В какие бизнес модели инвесторы склонны вкладывать?</li>
						<li>Какая рыночная стратегия максимально эффективна именно для вашего бизнеса?</li>
						<li>Как сгенерировать и удерживать конкурентные преимущества?</li>
					</ul>
					<p>На эти и многие другие вопросы вы сможете узнать ответ, посетив мастер-класс <a href="#">Гайдара Магданурова</a>.</p>
					<div class="action-join">
						<a class="btn btn-primary btn-wide pull-right" href="#call-back" data-toggle="modal">Записаться</a>
						{% include "partials/addthis.html" %}
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		{% include "partials/pagination.html" %}
	</div>
	<div class="span4">
		<div class="blue-box">
			<h1>Новости</h1>
		</div>
		<div class="border-box">
			<div>
				<img src="/static/img/site/news.png">
				<span class="date-spn">15.12.2012</span>
				<a href="#">BC в России провела семинар по учету в строительных компаниях</a>
				<p>Компания BDO в России провела семинар: «Актуальные вопросы учета и отчетности в строительных компаниях. Новые правила налогового контроля за трансфертным ценообразованием».</p>
			</div>
			<div>
				<img src="/static/img/site/news.png">
				<span class="date-spn">15.12.2012</span>
				<a href="#">BC в России провела семинар по учету в строительных компаниях</a>
				<p>Компания BDO в России провела семинар: «Актуальные вопросы учета и отчетности в строительных компаниях. Новые правила налогового контроля за трансфертным ценообразованием».</p>
			</div>
			<div>
				<img src="/static/img/site/news.png">
				<span class="date-spn">15.12.2012</span>
				<a href="#">BC в России провела семинар по учету в строительных компаниях</a>
				<p>Компания BDO в России провела семинар: «Актуальные вопросы учета и отчетности в строительных компаниях. Новые правила налогового контроля за трансфертным ценообразованием».</p>
			</div>
		</div>
		<a href="#" class="link-2-all clearfix pull-right">Все новости</a>
	</div>
</div>
{% endblock %}