<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<script src="/static/js/html5.js"></script>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/application.css" rel="stylesheet">
		<link href="/static/js/fancybox/jquery.fancybox.css"rel="stylesheet">
	</head>
	<body>
		<div id="wrapper">
			{% include "header.html" %}
			<article class="container">
				{% block content %}{% endblock %}
			</article>
			<div class="push"></div>
		</div>
		{% include "footer.html" %}
		{% include "partials/modals.html" %}
	</body>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- fancyBox -->
	<script type="text/javascript" src="/static/js/fancybox/jquery.fancybox.pack.js"></script>
	<!-- flexslider -->
	<script type="text/javascript" src="/static/js/flexslider/jquery.flexslider-min.js"></script>
	<script src="/static/js/all.js"></script>
</html>