{% extends "base.html" %}
{% block title %}Отзывы{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<ul class="breadcumbs clearfix">
			<li><a href="#">Главная</a> <span class="divider">→</span></li>
			<li><a href="#">Пресс-центр</a> <span class="divider">→</span></li>
			<li class="active">Отзывы</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span11">
		<div class="blue-box">
			<div class="row">
				<div class="span4">
					<a href="#"><h1>О компании</h1></a>
				</div>
				<div class="span6">
					<h1>Отзывы</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="blue-box">
			<h1>Новости</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span4">
		<ul class="simple-list">
			<li><a href="#">Почему мы?</a></li>
			<li><a href="#">Отзывы</a></li>
			<li><a href="#">Руководство</a></li>
			<li><a href="#">Карьера</a></li>
			<li><a href="#">Партнеры</a></li>
		</ul>
	</div>
	<div class="span7">
		<h2 class="ico-header"><i class="i-mesage"></i><i>3 отзыва</i></h2>
		<div class="comments">
			<div class="white-box comment">
				<p><b>Николай Владимирович,</b> <span>написал 03.12.2012 в 12.09</span></p>
				<p>Главное с пользой использовать потенциал этой социальной сети..) Работа принята, поделёшки сделал..)</p>
			</div>
			<div class="white-box comment">
				<p><b>Николай Владимирович,</b> <span>написал 03.12.2012 в 12.09</span></p>
				<p>Главное с пользой использовать потенциал этой социальной сети..) Работа принята, поделёшки сделал..)</p>
			</div>
			<div class="white-box comment">
				<p><b>Николай Владимирович,</b> <span>написал 03.12.2012 в 12.09</span></p>
				<p>Главное с пользой использовать потенциал этой социальной сети..) Работа принята, поделёшки сделал..)</p>
			</div>
		</div>
		<h2 class="ico-header"><i>Оставить отзыв</i></h2>
		<form class="form-horizontal comments-form">
			<div class="control-group">
				<label class="control-label" for="#">Ваше имя</label>
				<div class="controls">
					<input type="text" id="#">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="#">Эл. почта</label>
				<div class="controls">
					<input type="text" id="#">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="#">Отзыв</label>
				<div class="controls">
					<textarea rows="4" id="#"></textarea>
				</div>
			</div>
			<div class="control-group"><button class="btn btn-primary btn-wide pull-right">Отправить</button></div>
		</form>
		{% include "partials/addthis.html" %}
	</div>
	<div class="span4">
		<div class="border-box">
			<div>
				<img src="/static/img/site/news.png">
				<span class="date-spn">15.12.2012</span>
				<a href="#">BC в России провела семинар по учету в строительных компаниях</a>
				<p>Компания BDO в России провела семинар: «Актуальные вопросы учета и отчетности в строительных компаниях. Новые правила налогового контроля за трансфертным ценообразованием».</p>
			</div>
			<div>
				<img src="/static/img/site/news.png">
				<span class="date-spn">15.12.2012</span>
				<a href="#">BC в России провела семинар по учету в строительных компаниях</a>
				<p>Компания BDO в России провела семинар: «Актуальные вопросы учета и отчетности в строительных компаниях. Новые правила налогового контроля за трансфертным ценообразованием».</p>
			</div>
			<div>
				<img src="/static/img/site/news.png">
				<span class="date-spn">15.12.2012</span>
				<a href="#">BC в России провела семинар по учету в строительных компаниях</a>
				<p>Компания BDO в России провела семинар: «Актуальные вопросы учета и отчетности в строительных компаниях. Новые правила налогового контроля за трансфертным ценообразованием».</p>
			</div>
		</div>
		<a href="#" class="link-2-all clearfix pull-right">Все новости</a>
	</div>
</div>
{% endblock %}