{% extends "base.html" %}
{% block title %}Новости{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<ul class="breadcumbs clearfix">
			<li><a href="#">Главная</a> <span class="divider">→</span></li>
			<li><a href="#">Пресс-центр</a> <span class="divider">→</span></li>
			<li class="active">Новости</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span15">
		<div class="blue-box">
			<div class="row">
				<div class="span4"><a href="#"><h1>Пресс-центр</h1></a></div>
				<div class="span6"><h1>Новости компании</h1></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span4">
		<ul class="simple-list">
			<li><a href="#">Новости компании</a></li>
			<li><a href="#">Изменения законодательтсва</a></li>
			<li><a href="#">Информационные материалы</a></li>
			<li><a href="#">Публикации</a></li>
			<li><a href="#">Аналитические обзоры</a></li>
			<li><a href="#">Справочная информация</a></li>
		</ul>
	</div>
	<div class="span11">
		<div class="selector-box">
			<a href="#" class="active">все</a>
			<a href="#">за 2011 год </a>
			<a href="#">за 2012 год</a>
		</div>
		<div class="media action">
			<div class="pull-left">
				<img src="/static/img/site/action.png">
			</div>
			<div class="media-body">
				<h4><span class="date-spn">15.12.2012</span>Международный инвестор расскажет о самых прибыльных бизнес-моделях в Интернете.</h4>
				<p class="action-description">15 декабря в Екатеринбурге пройдет мастер-класс Гайдара Магданурова (Москва), бывшего директора посевного финансирования <b>Microsoft</b>, ныне – инвестиционного директора венчурного фонда <b>Runa Capital</b>.</p>
			</div>
		</div>
		<div class="clearfix"></div>
		{% include "partials/pagination.html" %}
	</div>
</div>

{% endblock %}