{% extends "base.html" %}
{% block title %}Контакты{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<ul class="breadcumbs clearfix">
			<li><a href="#">Главная</a> <span class="divider">→</span></li>
			<li class="active">Контакты</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span15">
		<div class="blue-box"><h1>Контакты</h1></div>
	</div>
</div>
<div class="row">
	<div class="span4">
		<div class="border-box">
			<p>Адрес: 620014, Екатеринбург<br> 
				Радищева ул., 4, оф. 308</p>
			<p><span class="prepend">Телефон:</span>(343) <big>236-62-55</big></p>
			<p><span class="prepend">Факс:</span>(343) <big>236-62-55</big></p>
			<p><span class="prepend">E-mail:</span> <a href="#">info@bizcraft.ru</a></p>
		</div>
		<h2 class="ico-header"><i class="i-phone-black"></i><i>Заказать звонок</i></h2>
		<form class="simple-form">
			<label>Ваш номер телефона</label>
			<input class="span4" type="text">
			<button class="btn btn-primary btn-wide">Отправить</button>
		</form>
	</div>
	<div class="span7">
		<img class="map" src="/static/img/site/map.png">
	</div>
	<div class="span4">
		<h2 class="ico-header"><i class="i-mail-black"></i><i>Написать письмо</i></h2>
		<form class="simple-form">
			<label>Ваше имя</label>
			<input class="span4" type="text">
			<label>Эл. почта</label>
			<input class="span4" type="text">
			<label>Текст письма</label>
			<textarea rows="4" class="span4"></textarea>
			<button class="btn btn-primary btn-wide pull-right">Отправить</button>
		</form>
	</div>
		
</div>

{% endblock %}