{% extends "base.html" %}
{% block title %}Войти{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<div class="blue-box">
			<h1>Войти</h1>
		</div>
	</div>
</div>
<div class="row">
	<form class="simple-form">
		<div class="span4">
			<label>Логин</label>
			<input class="span4" type="text">
			<label>Пароль</label>
			<input class="span4" type="text">
			<div class="log-in">
				<div class="pull-left">
					<a href="#">забыли пароль</a><br>
					<a href="#">зарегистрироваться</a>
				</div>
				<div class="pull-right">
					<button class="btn btn-primary">Войти</button>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="simple-form-sotial">
				<p>Войти с помощью</p>
				<a href="#" class="i-fb-else"></a>
				<a href="#" class="i-tw-else"></a>
				<a href="#" class="i-vk-else"></a>
			</div>
		</div>
	</form>
</div>
{% endblock %}