<footer class="container">
	<div class="row">
		<div class="span4">
			<div class="footer-contacts">
				<p>Екатеринбург,<br>
					Сиреневый бульвар, д. 19, оф. 103<br>
					Телефон: +7 (343) 2-366-255
				</p>
			</div>
		</div>
		<div class="span7">
			<div class="sotial-buttons pull-right">
				<a class="only-ico i-fb" href="#"></a>
				<a class="only-ico i-tw" href="#"></a>
				<a class="only-ico i-vk" href="#"></a>
			</div>
			<div class="footer-buttons">
				<a class="with-ico" href="#call-back" data-toggle="modal"><i class="i-phone-blue"></i>Заказать звонок</a>
				<a class="with-ico" href="#"><i class="i-video"></i>Видео звонок</a><br>
				<a class="with-ico" href="#write-us" data-toggle="modal"><i class="i-mail-blue"></i>Написать письмо</a>
				<a class="with-ico" href="/list"><i class="i-map-blue"></i>Карта сайта</a>
			</div>
		</div>
		<div class="span4">
			<div class="zavod pull-right">
				<p>Разработка сайта</p>
				<a href="#" class="i-zavod pull-right"></a>
			</div>
		</div>
	</div>
</footer>