<header class="container">
	<div class="header-bg"></div>
	<div class="row">
		<div class="span4">
			<a href="#"><img src="/static/img/site/logo.png"></a>
		</div>
		<div class="span7">
			<div class="response-forms">
				<a class="with-ico write-us" href="#call-back" data-toggle="modal"><i class="i-phone-header"></i>Заказать звонок</a>
				<a class="with-ico call-back" href="#write-us" data-toggle="modal"><i class="i-mail-header"></i>Написать письмо</a>
				<a class="with-ico call-back" href="#"><i class="i-video-header"></i>Видео звонок</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span11">
			<nav>
				<a class="nav-divider" href="#">Компания</a>
				<a class="nav-divider" href="#">Услуги</a>
				<a class="nav-divider" href="#">Пресс-центр</a>
				<a class="nav-divider" href="#">Мероприятия</a>
				<a class="nav-divider" href="#">Контакты</a>
			</nav>
		</div>
		<div class="span4">
			<div class="main-search">
				<input type="text" placeholder="Поиск">
				<a href="#" class="i-search"></a>
			</div>
		</div>
	</div>
</header>
