{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="row">
	<div class="span11">
		{% include "partials/slider.html" %}
		<div class="row">
			<div class="span4">
				<div class="blue-box">
					<h1>Наши услуги</h1>
				</div>
				<div class="list-box list-box-toggle">
					<div class="gray-box">
						<i class="i-person"></i><p>Физическим лицам</p>
					</div>
					<ul class="simple-list simple-list-toggle">
						<li>
							<a href="#">Оценка</a>
							<ul class="nested-list">
								<li><a href="#">Оценка квартир</a></li>
								<li><a href="#">Оценка домов и коттеджей</a></li>
								<li><a href="#">Оценка коммерческой недвижимости</a></li>
								<li><a href="#">Оценка автотранспорта</a></li>
								<li><a href="#">Оценка земельных участков</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Представительство по жилищным делам</a>
							<ul class="nested-list simple-list-toggle">
								<li><a href="#">Оценка квартир</a></li>
								<li><a href="#">Оценка домов и коттеджей</a></li>
								<li><a href="#">Оценка коммерческой недвижимости</a></li>
								<li><a href="#">Оценка автотранспорта</a></li>
								<li><a href="#">Оценка земельных участков</a></li>
							</ul>
						</li>
						<li><a href="#">Ведение дел в суде по административным правоотношениям</a></li>
						<li><a href="#">Представительсво по наследственным делам</a></li>
						<li><a href="#">Представительство по семейным делам</a></li>
						<li><a href="#">Представительство в области гражданских правоотношений</a></li>
						<li><a href="#">Сделки с недвижимостью</a></li>
					</ul>
				</div>
				<div class="list-box list-box-toggle">
					<div class="gray-box">
						<i class="i-person"></i><p>Предпринимателям и бизнесу</p>
					</div>
					<ul class="simple-list simple-list-toggle">
						<li><a href="#">Аудит (обязательный, инициативный, налоговый, МСФО)</a></li>
						<li><a href="#">Корпоративные финансы </a></li>
						<li><a href="#">Оценка и экспертиза</a></li>
						<li><a href="#">Бухгалтерский учет</a></li>
						<li><a href="#">Кадровый аудит</a></li>
						<li><a href="#">Автоматизация бизнеса</a></li>
						<li><a href="#">Юридические услуги</a></li>
						<li><a href="#">Энергоаудит</a></li>
					</ul>
				</div>
				<div class="border-box"></div>
				<a href="#" class="link-2-all clearfix pull-left">Все услуги</a>
			</div>
			<div class="span7">
				<div class="blue-box">
					<h1>О компании</h1>
				</div>
				<div class="border-box">
					<p>Добро пожаловать на сайт BDO в России, ведущей национальной аудиторско-консалтинговой группы компаний, являющейся членом the BDO network — пятой в мире по объемам совокупной выручки международной организации независимых аудиторских и консультационных компаний, объединившей свыше 48 000 сотрудников в 135 странах. Мы оказываем широкий спектр услуг в области аудита, консультирования по налогообложению и праву, финансового консультирования, сделок с капиталом, реструктуризации, бизнес-консультирования и системной интеграции. Одним из основополагающих принципов нашей деятельности является близость к клиенту, что подразумевает понимание ваших потребностей, готовность наших партнеров к непосредственному участию в решении задач, стоящих перед вами.</p>
				</div>
				<a href="#" class="link-2-all clearfix pull-right">Подробнее</a>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="blue-box">
			<h1>Новости</h1>
		</div>
		<div class="border-box">
			<div>
				<img src="/static/img/site/news.png">
				<span class="date-spn">15.12.2012</span>
				<a href="#">BC в России провела семинар по учету в строительных компаниях</a>
				<p>Компания BDO в России провела семинар: «Актуальные вопросы учета и отчетности в строительных компаниях. Новые правила налогового контроля за трансфертным ценообразованием».</p>
			</div>
			<div>
				<img src="/static/img/site/news.png">
				<span class="date-spn">15.12.2012</span>
				<a href="#">BC в России провела семинар по учету в строительных компаниях</a>
				<p>Компания BDO в России провела семинар: «Актуальные вопросы учета и отчетности в строительных компаниях. Новые правила налогового контроля за трансфертным ценообразованием».</p>
			</div>
			<div>
				<img src="/static/img/site/news.png">
				<span class="date-spn">15.12.2012</span>
				<a href="#">BC в России провела семинар по учету в строительных компаниях</a>
				<p>Компания BDO в России провела семинар: «Актуальные вопросы учета и отчетности в строительных компаниях. Новые правила налогового контроля за трансфертным ценообразованием».</p>
			</div>
		</div>
		<a href="#" class="link-2-all clearfix pull-right">Все новости</a>
	</div>
</div>	
{% endblock %}