{% extends "base.html" %}
{% block title %}Список шаблонов{% endblock %}
{% block content %}
<div class="container">
	<div class="span4">
		<div class="blue-box">
			<h1>Страницы</h1>
		</div>
		<ul class="simple-list">
			<li><a href="/index">Главная</a></li>
			<li><a href="/service">Услуга</a></li>
			<li><a href="/enter">Войти</a></li>
			<li><a href="/action">Мероприятие</a></li>
			<li><a href="/contacts">Контакты</a></li>
			<li><a href="/company-news">Новости компании</a></li>
			<li><a href="/about">О компании</a></li>
			<li><a href="/comments">Отзывы</a></li>
			<li><a href="/certificates">Сертификаты</a></li>
			<li><a href="/services">Услуги</a></li>
			<li><a href="/under-construction">Страница в разработке</a></li>
		</ul>
	</div>
</div>
{% endblock %}