{% extends "base.html" %}
{% block title %}Сертификаты{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<ul class="breadcumbs clearfix">
			<li><a href="#">Главная</a> <span class="divider">→</span></li>
			<li><a href="#">Пресс-центр</a> <span class="divider">→</span></li>
			<li class="active">Сертификаты</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span11">
		<div class="blue-box">
			<h1>О компании</h1>
		</div>
	</div>
	<div class="span4">
		<div class="blue-box">
			<h1>Отзывы</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span4">
		<ul class="simple-list">
			<li><a href="#">Почему мы?</a></li>
			<li><a href="#">Отзывы</a></li>
			<li><a href="#">Руководство</a></li>
			<li><a href="#">Карьера</a></li>
			<li><a href="#">Партнеры</a></li>
		</ul>
	</div>
	<div class="span7">
		<div class="sertificats">
			<div class="row-fluid">
				<div class="span5">
					<a class="fancybox" rel="group" href="/static/img/site/sertificat.png"><img src="/static/img/site/sertificat.png"></a>
					<p>Сертификат об утверждении типа средств измерений (расходомеры<br> EL-FLOW, IN-FLOW,<br> LOW-dP-FLOW,<br> IQ+FLOW)</p>
				</div>
				<div class="span5">
					<a class="fancybox" rel="group" href="/static/img/site/sertificat.png"><img src="/static/img/site/sertificat.png"></a>
					<p>Сертификат об утверждении типа средств измерений (расходомеры<br> EL-FLOW, IN-FLOW,<br> LOW-dP-FLOW,<br> IQ+FLOW)</p>
				</div>
				<div class="span5">
					<a class="fancybox" rel="group" href="/static/img/site/sertificat.png"><img src="/static/img/site/sertificat.png"></a>
					<p>Сертификат об утверждении типа средств измерений (расходомеры<br> EL-FLOW, IN-FLOW,<br> LOW-dP-FLOW,<br> IQ+FLOW)</p>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span5">
					<a class="fancybox" rel="group" href="/static/img/site/sertificat.png"><img src="/static/img/site/sertificat.png"></a>
					<p>Сертификат об утверждении типа средств измерений (расходомеры<br> EL-FLOW, IN-FLOW,<br> LOW-dP-FLOW,<br> IQ+FLOW)</p>
				</div>
				<div class="span5">
					<a class="fancybox" rel="group" href="/static/img/site/sertificat.png"><img src="/static/img/site/sertificat.png"></a>
					<p>Сертификат об утверждении типа средств измерений (расходомеры<br> EL-FLOW, IN-FLOW,<br> LOW-dP-FLOW,<br> IQ+FLOW)</p>
				</div>
				<div class="span5">
					<a class="fancybox" rel="group" href="/static/img/site/sertificat.png"><img src="/static/img/site/sertificat.png"></a>
					<p>Сертификат об утверждении типа средств измерений (расходомеры<br> EL-FLOW, IN-FLOW,<br> LOW-dP-FLOW,<br> IQ+FLOW)</p>
				</div>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="border-box">
			<div>
				<img src="/static/img/site/news.png">
				<span>15.12.2012</span>
				<a href="#">BC в России провела семинар по учету в строительных компаниях</a>
				<p>Компания BDO в России провела семинар: «Актуальные вопросы учета и отчетности в строительных компаниях. Новые правила налогового контроля за трансфертным ценообразованием».</p>
			</div>
			<div>
				<img src="/static/img/site/news.png">
				<span>15.12.2012</span>
				<a href="#">BC в России провела семинар по учету в строительных компаниях</a>
				<p>Компания BDO в России провела семинар: «Актуальные вопросы учета и отчетности в строительных компаниях. Новые правила налогового контроля за трансфертным ценообразованием».</p>
			</div>
			<div>
				<img src="/static/img/site/news.png">
				<span>15.12.2012</span>
				<a href="#">BC в России провела семинар по учету в строительных компаниях</a>
				<p>Компания BDO в России провела семинар: «Актуальные вопросы учета и отчетности в строительных компаниях. Новые правила налогового контроля за трансфертным ценообразованием».</p>
			</div>
		</div>
		<a href="#" class="link-2-all clearfix pull-right">Все новости</a>
	</div>
</div>

{% endblock %}
