{% extends "base.html" %}
{% block title %}Услуги{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<ul class="breadcumbs clearfix">
			<li><a href="#">Главная</a> <span class="divider">→</span></li>
			<li class="active">Услуги</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span15">
		<div class="blue-box">
			<h1>Услуги</h1>
		</div>
		{% include "partials/slider-wide.html" %}
		<table class="services-table">
			<tr>
				<td>
					<div class="list-box">
						<div class="gray-box">
							<i class="i-person"></i><p>Физическим лицам</p>
						</div>
						<ul class="simple-list">
							<li>
								<a href="#">Оценка</a>
								<ul class="nested-list">
									<li><a href="#">Оценка квартир</a></li>
									<li><a href="#">Оценка домов и коттеджей</a></li>
									<li><a href="#">Оценка коммерческой недвижимости</a></li>
									<li><a href="#">Оценка автотранспорта</a></li>
									<li><a href="#">Оценка земельных участков</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Представительство по жилищным делам</a>
								<ul class="nested-list">
									<li><a href="#">Оценка квартир</a></li>
									<li><a href="#">Оценка домов и коттеджей</a></li>
									<li><a href="#">Оценка коммерческой недвижимости</a></li>
									<li><a href="#">Оценка автотранспорта</a></li>
									<li><a href="#">Оценка земельных участков</a></li>
								</ul>
							</li>
							<li><a href="#">Ведение дел в суде по административным правоотношениям</a></li>
							<li><a href="#">Представительсво по наследственным делам</a></li>
							<li><a href="#">Представительство по семейным делам</a></li>
							<li><a href="#">Представительство в области гражданских правоотношений</a></li>
							<li><a href="#">Сделки с недвижимостью</a></li>
						</ul>
					</div>
				</td>
				<td>
					<div class="list-box">
						<div class="gray-box">
							<i class="i-person"></i><p>Юридическим лицам</p>
						</div>
						<ul class="simple-list">
							<li><a href="#">Аудит (обязательный, инициативный, налоговый, МСФО)</a></li>
							<li><a href="#">Корпоративные финансы</a></li>
							<li><a href="#">Оценка и экспертиза</a></li>
							<li><a href="#">Бухгалтерский учет</a></li>
							<li><a href="#">Кадровый аудит</a></li>
							<li><a href="#">Автоматизация бизнеса</a></li>
							<li><a href="#">Юридические услуги</a></li>
							<li><a href="#">Энергоаудит</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="list-box">
						<div class="gray-box">
							<i class="i-money"></i><p>Инвестиции/финансы,продажа бизнеса</p>
						</div>
						<ul class="simple-list">
							<li><a href="#">Due Diligence</a></li>
							<li><a href="#">Продажа бизнеса</a></li>
							<li><a href="#">Акционерное финансирование</a></li>
							<li><a href="#">Банковское финансирование</a></li>
						</ul>
					</div>
				</td>
				<td>
					<div class="list-box">
						<div class="gray-box">
							<i class="i-abc"></i><p>Бизнес-образование, подбор персонала</p>
						</div>
						<ul class="simple-list">
							<li><a href="#">Тренинги</a></li>
							<li><a href="#">Мастер-классы</a></li>
							<li><a href="#">Семинары</a></li>
							<li><a href="#">Подбор персонала</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
		<p>Сегодня BDO в России предлагает своим клиентам всестороннюю поддержку в следующих областях: аудит, консультирование по налогообложению и праву, финансовое консультирование, бизнес-консультирование и системная интеграция. Мы оказываем консультационные услуги в сфере повышения эффективности, оздоровления и реструктуризации бизнеса. BDO располагает одной из крупнейших в стране практик в области создания систем управления и внедрения бизнес-решений.</p>
	</div>
</div>
{% endblock %}