{% extends "base.html" %}
{% block title %}Услуга{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<ul class="breadcumbs clearfix">
			<li><a href="#">Главная</a> <span class="divider">→</span></li>
			<li><a href="#">Услуги</a> <span class="divider">→</span></li>
			<li><a href="#">Оценка</a> <span class="divider">→</span></li>
			<li class="active">Оценка квартир</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span11">
		<div class="blue-box">
			<div class="row">
				<div class="span4"><a href="#"><h1>Услуги</h1></a></div>
				<div class="span6"><h1>Оценка квартир</h1></div>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="blue-box">
			<h1>Консультант</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span4">
		<div class="list-box list-box-toggle">
			<div class="gray-box">
				<i class="i-person"></i><p>Физическим лицам</p>
			</div>
			<ul class="simple-list simple-list-toggle">
				<li>
					<a href="#">Оценка</a>
					<ul class="nested-list">
						<li><a href="#">Оценка квартир</a></li>
						<li><a href="#">Оценка домов и коттеджей</a></li>
						<li><a href="#">Оценка коммерческой недвижимости</a></li>
						<li><a href="#">Оценка автотранспорта</a></li>
						<li><a href="#">Оценка земельных участков</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Представительство по жилищным делам</a>
					<ul class="nested-list simple-list-toggle">
						<li><a href="#">Оценка квартир</a></li>
						<li><a href="#">Оценка домов и коттеджей</a></li>
						<li><a href="#">Оценка коммерческой недвижимости</a></li>
						<li><a href="#">Оценка автотранспорта</a></li>
						<li><a href="#">Оценка земельных участков</a></li>
					</ul>
				</li>
				<li><a href="#">Ведение дел в суде по административным правоотношениям</a></li>
				<li><a href="#">Представительсво по наследственным делам</a></li>
				<li><a href="#">Представительство по семейным делам</a></li>
				<li><a href="#">Представительство в области гражданских правоотношений</a></li>
				<li><a href="#">Сделки с недвижимостью</a></li>
			</ul>
		</div>
		<div class="list-box list-box-toggle">
			<div class="gray-box">
				<i class="i-person"></i><p>Предпринимателям и бизнесу</p>
			</div>
			<ul class="simple-list simple-list-toggle">
				<li><a href="#">Аудит (обязательный, инициативный, налоговый, МСФО)</a></li>
				<li><a href="#">Корпоративные финансы </a></li>
				<li><a href="#">Оценка и экспертиза</a></li>
				<li><a href="#">Бухгалтерский учет</a></li>
				<li><a href="#">Кадровый аудит</a></li>
				<li><a href="#">Автоматизация бизнеса</a></li>
				<li><a href="#">Юридические услуги</a></li>
				<li><a href="#">Энергоаудит</a></li>
			</ul>
		</div>
		<div class="list-box list-box-toggle">
			<div class="gray-box">
				<i class="i-money"></i><p>Инвестиции/финансы,продажа бизнеса</p>
			</div>
			<ul class="simple-list simple-list-toggle">
				<li><a href="#">Аудит (обязательный, инициативный, налоговый, МСФО)</a></li>
				<li><a href="#">Корпоративные финансы </a></li>
				<li><a href="#">Оценка и экспертиза</a></li>
				<li><a href="#">Бухгалтерский учет</a></li>
				<li><a href="#">Кадровый аудит</a></li>
				<li><a href="#">Автоматизация бизнеса</a></li>
				<li><a href="#">Юридические услуги</a></li>
				<li><a href="#">Энергоаудит</a></li>
			</ul>
		</div>
		<div class="list-box list-box-toggle">
			<div class="gray-box">
				<i class="i-abc"></i><p>Бизнес-образование, подбор персонала</p>
			</div>
			<ul class="simple-list simple-list-toggle">
				<li><a href="#">Аудит (обязательный, инициативный, налоговый, МСФО)</a></li>
				<li><a href="#">Корпоративные финансы </a></li>
				<li><a href="#">Оценка и экспертиза</a></li>
				<li><a href="#">Бухгалтерский учет</a></li>
				<li><a href="#">Кадровый аудит</a></li>
				<li><a href="#">Автоматизация бизнеса</a></li>
				<li><a href="#">Юридические услуги</a></li>
				<li><a href="#">Энергоаудит</a></li>
			</ul>
		</div>
	</div>
	<div class="span7">
		<div class="from-slider">
			<img src="/static/img/examples/image-1.jpg" >
		</div>
		<p>Одним из составляющих нашего подхода к аудиту является предоставление клиенту всесторонней и объективной информации, позволяющей ему адекватно оценивать состояние бизнеса и принимать обоснованные решения. Для реализации этой задачи по всем направлениям аудита нами разработаны корпоративные технологии проверки отчетности, модели управления проектами, а также система контроля качества, соответствующая самым высоким международным стандартам.</p>
		<p>Мы проводим аудит бухгалтерской (финансовой) отчетности, составленной как в соответствии с РСБУ, так и с другими национальными и международными стандартами отчетности. Наши специалисты также готовы оказать весь спектр консультационных услуг в отношении отчетности компании, целью которых является повышение доверия акционеров, инвесторов, регулятивных органов и других заинтересованных лиц к финансовой информации компании</p>
		<p>Мы стремимся своевременно предупреждать своих клиентов о возможных нарушениях бухгалтерского учета и требований к составлению отчетности, чтобы предотвратить неблагоприятное влияние этих нарушений на бухгалтерскую (финансовую) отчетность.</p>
		<p>Для компаний-клиентов нами разрабатываются индивидуальные системы подготовки отчетов, что позволяет не только эффективно организовать процесс составления отчетности, но и своевременно вносить необходимые изменения в технологию подготовки отчетности в процессе внесения изменений в МСФО и в ходе расширения и изменения спектра осуществляемых банком операций. Кроме того наши специалисты проводят обучение сотрудников компаний-клиентов, желающих самостоятельно </p>
	</div>
	<div class="span4">
		<div class="white-box">
			<div class="media consultant">
				<div class="pull-left">
					<img src="/static/img/site/consultant.png">
					<a href="#call-back" data-toggle="modal" class="btn btn-primary btn-block btn-ico"><i class="i-phone-white"></i>Позвонить</a>
				</div>
				<div class="media-body">
					<p class="name">Владислав Погуляев</p>
					<p class="post">Старший партнер, аудит</p>
					<p>Тел./Факс:<br> 
					+7(495)797-56-65<br>
					+7(495)797-56-60</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}